{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}

{% block title %}{% trans "Guest List Settings" %}{% endblock %}

{% block content %}
<h1>{% trans "Guest List Settings" %}</h1>

<form method="post" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="col-md-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="col-md-9">
            {{ field }}
            {% if field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
            {% for error in field.errors %}
                <p class="help-block text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </div>
</form>
{% endblock %}
